.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#e3b79a, #fdd630);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .nav-item img {
  width: 80px;
}

.nav-item a {
  &:hover {
    color: red;
  }
}
